<div class="archive">
  <header>
    <h1 class="page-title"><%- __('archive.title') %></h1>
  </header>
  <div class="article-count">
    <p><%- _p('archive.counter', site.posts.length) %></p>
  </div>
  <%- partial('component/post-list', { listPosts: site.posts.data, Year: true, Month: true }) %>
</div>
