<div class="articles-list">
  <header>
    <h1 class="page-title">Tagged  <%-page.tag%></h1>
  </header>
  <%- partial('_partial/post-list', {listPosts: page.posts.data,Year:true,Month:true}) %>
<div>
<%- partial('_partial/paginator') %>
