<% if (page.historyHash && theme.historyHash) { %>
  <hr>
  <h3><span class="iconfont icon-history" style="padding-right: 5px;font-size: 1em;"></span><%= __('post.modification') %></h3>
  <div class="post-history-list"><ol reversed>
    <% 
      let tothis = page.historyHash.length || 0; 
      page.historyHash.forEach((hashstr, index) => {
    %>
      <li class="post-history-item">
        <%=
          tothis - index === 1 ? __('post.createAt', historyParseTime(hashstr))
          : __('post.modifiedForKth', tothis - index, historyParseTime(hashstr))
        %> 
      </li>
    <% }); %> 
  </ol></div>
<% } %>