<% if (page.content && page.toc!=false){ %>
  <div class="toc">
    <h2 class="toc-title"><%= __('post.toc') %></h2>
    <div class="toc-content">
      <%- anchorToc(page.content) %>
    </div>
  </div>
  <hr>
<% } %>
