@import "_partial/theme";
@import "_partial/common";

body 
  font-size: 1.6rem;
  tab-size: 4;
  background-color: var(--background-color);
  color: var(--text-color);

hr
  border: none;
  border-top: #a7a7a7 dashed 2px;

.container 
  max-width: 960px;
  margin: 0 auto;

@media only screen and (max-width: 600px)
  .page-title
    font-size: 2.2em

@media only screen and (max-width: 500px)
  .page-title
    font-size: 2em

.post-meta
  color: var(--text-secondary-color)

img 
  max-width: 100%;

blockquote 
  color: var(--blockquote-color);
  margin: 1em;

a
  color: var(--text-color);
  transition: color 0.3s;
  &:hover
    text-decoration: underline;
    color: var(--link-hover-color);

.visitor
  text-align: center;

#footer
  a
    text-decoration underline
  .friends 
    a
      text-decoration none
    span.icon.friendsep:before
      content "·"
      font-weight bold

span.codeforces
  font-family: verdana,arial,sans-serif

details
  border: 1px solid var(--text-color);
  padding: 8px 12px;
  margin: 0.5em 0;
  border-radius: 5px;
  summary 
    outline: none;

#menu-button
  font-size: 1em;
  color: var(--navbar-color);
  cursor: pointer;
  margin-right: 5px;

span.katex-inline:before 
  content: " ";

span.katex-inline:after 
  content: " ";

span.katex-display 
  overflow-x: auto;
  overflow-y: hidden;

figure 
  margin: 0.5em;


@import "_partial/header";
@import "_partial/post";
@import "_partial/index";
@import "_partial/archive";
@import "_partial/toc";
@import "_partial/side-button";
@import "_partial/paginator";
@import "_partial/valine";
@import "_partial/directory";
@import "_partial/print";
@import "_partial/label";
@import "_partial/table";
@import "_partial/encrypt";
@import "_partial/codeforces";
@import "_partial/search";
@import "_partial/history";
@import "_partial/post-meta-card"