<% if (page.total > 1){ %>
  <nav class="page-nav">
    <%- paginator({
      prev_text: '<span class="iconfont icon-arrow-left-circle"></span>',
      next_text: '<span class="iconfont icon-arrow-right-circle"></span>',
      end_size: 2,
      mid_size: 3,
      escape: false
    }) %>
  </nav>
<% } %>
