<%
  const sorted = listPosts.sort((a, b) => b.date.unix() - a.date.unix());
  const postViews = sorted.reduce((acc, post)=> {
    const entry = Object.assign(post, {
      // only show year/month if this is first entry in list with that yearstamp/monthstamp
      displayYear : !acc.find(_ => _.date.year() === post.date.year()),
      displayMonth : !acc.find(_ => _.date.year() === post.date.year() && _.date.month() === post.date.month()),
      title: post.title || 'Untitled',
      yearText: lctzDate(post.date, 'YYYY'),
      monthText: lctzDate(post.date, 'MMM'),
      MonthText: lctzDate(post.date, 'MMMM'),
      dayText: lctzDate(post.date, 'Do'),
      timeText: lctzDate(post.date, 'HH:mm'),
      datetime: date_xml(post.date),
      fullDate: lctzDate(post.date, 'LLLL (zZ)'),
      target: post.link ? '_blank': '',
      url: url_for(post.path)
    });
    acc.push(entry);
    return acc;
  }, []);
%>
  
<div class="post-list">
  <% postViews.forEach(function(p) { %>
    <% if ((Month && p.displayMonth) || (Year && p.displayYear)) { %>
      <div class="post-list-date-title">
        <h2><%= Year ? p.yearText : '' %> <%= Month ? p.MonthText : '' %></h2>
      </div>
    <% } %>
    <%- partial('./post-meta-card', {data: p}) %>
  <% }); %>
</div>
