<div class="search-container">
  <div class="search-container-inner">
    <div class="search-data-status">
      <span>Fetching search data...</span>
    </div>
    <div class="search-count"></div>
    <div class="search-result"></div>
  </div>
</div>