.page-title
  font-size: 3em;
  text-align: center;
  margin: 1em 0;

.archive
  margin: auto;
  max-width: 1100px;

  h2
    margin: 1em 0 0.5em;
    font-size: 2em;

  span.tag 
    margin: 0 0.1em
  a.tag
    color: var(--tag-color);
    &:hover
      color: var(--link-hover-color);
    
  .post-list-item
    margin: 0.8em 0.5em
    min-width: 300px
    width: calc(49% - 1em)
    display: inline-block;
    vertical-align: top;
    .post-list-title
      font-size: 1.3em;
      padding-bottom: 0.2em;
    .post-list-time
      color: gray
    .post-list-tags
      color: gray

  .tags
    font-size:1.1em;
  .article-count
    font-size:1.5em;
    text-align:center;

@media only screen and (min-width: 900px) 
  .archive 
    .post-list 
      margin-left: 45px;
    .post-list-item
      width: calc(33% - 1em);

@media only screen and (max-width: 900px)
  .post-list 
    margin: 0 20px;

@media only screen and (max-width: 600px) 
  .archive
    .post-list-item
      margin: 0.6em 0.3em 0.6em 0;
      .post-list-title
        font-size: 1.3em;
    h2
      font-size: 2.8rem;