.codeforces
  color var(--text-color)
  &.lgm
    .lgm-head
      color var(--codeforces-lgm-head-color)
    .lgm-tail
      color red

  &.gm, &.igm
    color red

  &.m, &.im
    color #ff8c00

  &.cm
    color #a0a

  &.e
    color blue

  &.s
    color #03a89e

  &.unr
    color #808080