html {
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
  font-size: 62.5%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

img {
  width: 100%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}