.page-title
  .iconfont.icon-folder-filling
    font-size: 0.8em;
    margin-right: 0.1em;

.dir-list
  .dir-list-item
    margin: 1rem
    min-width: 270px;
    width: calc(49% - 2rem);
    display: inline-block;
    font-size: 2rem;
    .dir-icon
      font-size: 2rem;

.parent-dir
  padding .8em 20px
  min-width: 32%;
  font-size: 2.4rem;
  span
    font-size: 2.4rem;

@media only screen and (min-width: 900px) 
  .dir-list .dir-list-item
    width: calc(33% - 3rem);
  .parent-dir
    padding-left: 45px;

@media only screen and (max-width: 900px) 
  .article-list-inner .dir-list 
    padding: 0 20px;
  
@media only screen and (max-width: 600px) 
  .dir-list .dir-list-item
    font-size: 2rem;