.page-title{
  .iconfont.icon-folder {
    font-size: 0.8em;
    margin-right: 0.1em;
  }
}
.dir-list{
  .dir-list-item{
    margin: 0.7em 0.3em 0.7em 0;
    min-width: 300px;
    display: inline-block;
    font-size: 2rem;
  }
}
.parent-dir{
  margin: .8em 15px .8em 15px
  min-width: 32%;
  font-size: 2.4rem;
  span{
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 900px) {
  .dir-list {
    padding-left: 45px;
    .dir-list-item{
      min-width: 32%
    }
  }
  .parent-dir{
    padding-left: 45px;
  }
}

@media only screen and (max-width: 900px) {
  .article-list-inner .dir-list {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 600px) {
  .dir-list{
    .dir-list-item{
      margin: 0.5em 0.3em 0.5em 0;
      font-size: 2rem;
    }
  }
}
