.encrypt-container{
  margin: 2em;
  background: var(--encrypt-background);
  border-bottom: 3px grey solid;
}
.encrypt-key-inputarea {
  color: var(--text-color);
  width: 85%;
  border: 0;
  font-size: initial;
  padding: 10px;
  background: none;
}
.decrypt-button {
  color: var(--text-color);
  border: 0;
  background: none;
  padding: 9px 11px;
  font-size: initial;
  transition: 0.2s;
  float: right;
  &:hover {
    background: grey;
    color: white;
  }
}
