.header {
  min-height: 60px;
  width: 100%;
}

.header-shadow {
  box-shadow: 0 -4px 10px var(--header-shadow-color);
}

.header-input-shadow {
  box-shadow: 0 -4px 10px var(--header-shadow-color);
}

.header-content {
  padding: 0 20px;
  max-width: 1200px;
  margin: auto;
}

.header-inner {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  min-height: 60px;
  width: 100%;
  line-height: 60px;
  background: var(--background-color);

  transition: box-shadow ease .2s;

  font-size: 1.4rem;

  .navbar{
    float: right;
  }
  .blog-title {
    display: inline-block;
    a {
      color: #AAA;
      text-decoration: none;
      transition: color 0.3s;
      &:hover {
        color: var(--text-color);
      }
    }
  }

  .menu {
    margin: 0;
    padding: 0;

    .menu-item {
      display: inline-block;
      margin-right: 10px;
    }

    .menu-item-link {
      color: #AAA;
      text-decoration: none;
      transition: color 0.3s;
      &:hover {
        color: var(--text-color);
      }
    }
  }

  .search {
    position: relative;
    float: right;
    margin-right: 1.5em;
    line-height: 57px;
    input {
      background-color: var(--header-search-input-background);
      border: none;
      border-radius: 2px;
      padding: 10px 35px 10px 35px;
      font-size: 1rem;
      color: var(--text-color);
      &:focus {
        outline: none;
      }
    }
  }
}

.search-icon {
  position: absolute;
  left: 13px;
  top: 4px;
  color: #6d6d6d;
}
.search-close-icon {
  display: none;
}
.header-input-shadow .search-close-icon {
  display: inline;
  position: absolute;
  right: 7px;
  top: 4px;
  color: #6d6d6d;
  cursor: pointer;
  &::before {
    padding: 6px 5px 5px 5px;
    border-radius: 50%;
    transition: all .2s ease;
  }
  &:hover::before{
    background: var(--header-search-close-btn-hover);
  }
}

@media only screen and (max-width: 600px) {
  .header-inner{
    .menu .menu-item {
      display: block;
    }
    .navbar {
      line-height: 1.5em;
      float: none;
      margin: 1em 0;
    }
  }
}
