.code{
  pre{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 14px;
    line-height: 1.45em;
  }
  span{
    .title {
      font-weight: bold;
    }
    .meta{
      color: #ecaf2a;
    }
    .meta-keyword{
      color: #8959a8;
    }
    .meta-string{
      color: #47a46a;
    }
    .keyword{
      color: #8959a8;
      font-weight: bold;
    }
    .titie{
      color: #4271ae;
    }
    .number{
      color: #f5871f;
    }
    .comment{
      color: #8e908c;
    }
  }
}
