.index-title
  display table
  width 100%
  height calc(100vh - 140px)
  text-align center
  font-size: 2em;
  margin-bottom: 80px
  div.index-banner
    display table-cell 
    vertical-align middle
    padding 0 1em
    .homepage-meta
      margin-top: 5px;
      span
        font-size: 2.3rem;
      .homepagemetasep:before
        content: "|"
        padding: 0 1px;

.more-articles
  text-align center
  a
    font-size:1.5em
    color: var(--text-secondary-color);
    &:hover
      text-decoration: none
      color: black

.index-post-title a 
  font-size: 1.5em

.index-section-title
  text-align: center; 
  font-size: 2.7rem

.index-post
  margin: 1em 0 1em 0

.posts  
  width: max-content;
  margin: auto;
  .post:first-child 
    margin-top: 0;
  .post-title 
    font-size: 2.4em;
    .post-title-link 
      text-decoration: none;
  .post-meta 
    color: var(--text-secondary-color);
    &.post-time
      margin-right: 15px;
    
@media only screen and (max-width: 600px) 
  .index-title 
    font-size: 2.4rem;
  .index-section-title
    font-size: 2.23rem
  .posts .post-meta.post-time
    display: none;

@media only screen and (max-width: 400px) 
  .index-title 
    font-size: 2.08rem;
  .index-section-title
    font-size: 1.92rem
  .index-post-title
    font-size: 1.44rem

