.post-meta-card
  margin: 0.8em 0.5em
  min-width: 270px
  width: calc(49% - 1em)
  display: inline-block;
  vertical-align: top;
  .post-meta-title
    font-size: 1.3em;
    padding-bottom: 0.2em;
  .post-meta-time, 
  .post-meta-tags
    color: var(--text-secondary-color)

@media only screen and (min-width: 900px) 
  .post-meta-card
    width: calc(33% - 1em);

@media only screen and (max-width: 600px) 
  .post-meta-card
    margin: 0.6em 0.3em 0.6em 0;
    .post-meta-title
      font-size: 1.3em;