@media print{
  .side-button, .navbar, #vcomments, #footer .visitor, #menu-list .menu {
    display: none;
  }
  .post {
    padding: 0;
    max-width: 860px;
    .post-footer {
      display: none;
    }
  }
  .post-title {
    font-size: 1.6em
  }
  .header-shadow{
    box-shadow: none;
  }
}
