.table-container {
  table {
    width: 100%;
    border: 1px var(--text-color) solid;
    border-collapse: collapse;
  }
  td {
    border: 1px var(--text-color) solid;
    padding: 0 10px;
  }
  th {
    border: 1px var(--text-color) solid;
  }
}
