light()
  --color-mode: 'light';
  --navbar-color: #8d8d8d;
  --tag-color: #808080;

  --text-color: black;
  --link-hover-color: #0074d1;
  --background-color: white;
  --blockquote-color: #007cac;
  --valine-par-color: inherit;
  --valine-code-background: inherit;
  --valine-button-background: inherit;
  --valine-vsys-background: inherit;
  --valine-vimg-border: inherit;
  --valine-vexpand-after-background: hsla(0,0%,100%,.9);
  --valine-vexpand-before-background: inherit;
  --encrypt-background: #efefef;
  --inline-code-color: #c7254e;
  --inline-code-background: #f9f2f4;
  --codeforces-lgm-head-color: black;
  --header-shadow-color: #888;
  --header-search-input-background: #f1f1f1;
  --header-search-close-btn-hover: #d6d6d6;
  --search-container-shadow-color: #b5b3b3;

dark()
  --text-color: #eee;
  --link-hover-color: #db9348;
  --background-color: #212121;
  --blockquote-color: #db9348;
  --valine-par-color: var(--text-color);
  --valine-code-background: #000;
  --valine-button-background: var(--background-color);
  --valine-vsys-background: #2d2d2d;
  --valine-vimg-border: #5e5e5e;
  --valine-vexpand-after-background: #212121;
  --valine-vexpand-before-background: linear-gradient(180deg, rgba(255,255,255,0), #212121);
  --encrypt-background: #353535;
  --inline-code-color: #d75677;
  --inline-code-background: #38292d;
  --codeforces-lgm-head-color: #959595;
  --header-shadow-color: #000;
  --header-search-input-background: #292929;
  --header-search-close-btn-hover: #212121;
  --search-container-shadow-color: #000;

:root
  light()
  @import hexo-config("prismjs.theme.light")

@media (prefers-color-scheme: dark)
  :root
    --color-mode: 'dark';

  :root:not([data-user-color-scheme])
    dark()
    @import hexo-config("prismjs.theme.dark")

[data-user-color-scheme='dark']
  dark()
  @import hexo-config("prismjs.theme.dark")
