.toc{
  ol {
    list-style-type: none;
    padding-inline-start: 20px;
  }
  a {
    text-decoration: none;
    transition: color 0.3s
    &:hover{
      color: var(--link-hover-color);
      text-decoration: underline
    }
  }
}
