#vcomments {
  max-width: 920px;
  margin: 0 auto;
  padding: 2em 30px 0;
  p{
    color: var(--valine-par-color) !important;
  }
  code, pre {
    font-size: 100% !important;
    background: var(--valine-code-background) !important;
  }
  .vinput {
    color: var(--text-color);
  }
  .vbtn{
    color: var(--valine-par-color);
    border: 1px solid #bfbfbf !important;
    background: var(--valine-button-background) !important;
  }
  .vwrap {
    border: 1px solid #bfbfbf !important;
    .vheader .vinput {
      border-bottom: 1px dashed #bfbfbf !important;
    }
  }
  .vcard{
    .vhead .vsys {
      background: var(--valine-vsys-background) !important;
    }
    .vh {
      border-bottom: none !important;
    }
    .vquote {
      padding-left: 0 !important;
      border-left: none !important;
    }
    .vimg {
      border: 1px solid var(--valine-vimg-border) !important;
    }
    .vcontent.expand:after {
      background: var(--valine-vexpand-after-background) !important;
    }
    .vcontent.expand:before {
      background: var(--valine-vexpand-before-background) !important;
    }
  }
  .info .power{
    a{
      margin-right:1em !important;
    }
    br{
      display: none !important;
    }
  }
}

@media only screen and (max-width: 769px) {
  #vcomments {
    padding: 2em 20px 0;
  }
}